html {
    background-image: url("../Image/Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: gray;
}

a:active {
    text-decoration: none;
    color: black;
}

header {
    padding: 20px 1%; 
    box-sizing: border-box; 
    width: 100%;
}

header img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

section {
    height: auto;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 8%;
}

footer {
    margin-top: 8%;
}

/* Font-Style */
/* EN H1 Font */
@font-face {
    font-family: "foxlite";
    src: url(../Font/Foxlite.woff)  format("woff"),
    url(../Font/Foxlite.ttf)  format("truetype");
}

/* EN Index Font */
@font-face {
    font-family: "mufanpfs";
    src: url(../Font/Mufanpfs.woff)  format("woff"),
    url(../Font/Mufanpfs.ttf)  format("truetype");
}

/* JP Index Font */
@font-face {
    font-family: "setofont";
    src: url(../Font/SetoFont.woff)  format("woff"),
    url(../Font/SetoFont.ttf)  format("truetype");
}

/* ZH-TW Index Font */
@font-face {
    font-family: "naikai";
    src: url(../Font/NaikaiFont.woff)  format("woff"),
    url(../Font/NaikaiFont.ttf)  format("truetype");
}

/* Language Option Font */
@font-face {
    font-family: "honmaru";
    src: url(../Font/Honmaru.woff) format("woff"),
    url(../Font/Honmaru.ttf)  format("truetype");
}

/* PC Display */
@media screen and (min-width: 769px) {
    .clip-trapezoid-us {
        clip-path: polygon(0% 100%, 100% 100%, 85% 0%, 0% 0%);
    }

    .clip-trapezoid-ds {
        clip-path: polygon(15% 100%, 100% 100%, 100% 0%, 0% 0%);
    }
}

/* Mobile Display */
@media screen and (max-width: 768px) {
    .clip-trapezoid-us,
    .clip-trapezoid-ds {
        clip-path: none !important;
        -webkit-clip-path: none !important;
    }

    section {
        margin-top: 10% !important; 
        margin-bottom: 5% !important;
        height: auto !important;
    }

    header {
        padding: 10px 1% !important;
        box-sizing: border-box;
    }

    header img {
        border-radius: 5px;
    }

    .part.flexbox {
        flex-direction: column;
        height: auto !important;
    }

    .part.flexbox .left, 
    .part.flexbox .right {
        width: 100% !important;
        height: auto !important;
        min-height: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 10px !important;
        display: block !important;
    }

    .swiper {
        height: 250px !important;
    }

    .profile {
        width: 60% !important;
        height: auto !important;
        margin-top: 20px;
    }

    h1 {
        font-size: 8vmin !important;
        margin-top: 10px !important;
    }

    .chinese, .english, .japanese {
        font-size: 4.5vmin !important;
        line-height: 1.4 !important;
        padding: 0 15px;
    }
}

h1 {
    font-family: foxlite;
    font-size: 6vmin;
    text-align: center;
    color: black;
}

.chinese {
    font-family: naikai;
    font-size: 3.5vmin;
    text-align: center;
    line-height: 150%;
    color: black;
}

.english {
    font-family: mufanpfs;
    font-size: 4vmin;
    text-align: center;
    color: black;
}

.japanese {
    font-family: setofont;
    font-size: 3.5vmin;
    text-align: center;
    color: black;
}

.language {
    font-family: honmaru;
    font-size: 3.5vmin;
    text-align: center;
    color: black;
}

/* Font-Style */

/* Slider */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Slider */

/* Loading Bar */
.progress {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #F2F2F2;
}

.bar {
    background-color: black;
    width: 0%;
    height: 8px;
    border-radius: 3px;
    transition: width 0.3s ease-out;
}

.percent {
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 48%;
}

/* Loading Bar */

.illustrate {
    text-align: center;
    font-size: 1.5vmin;
    margin-top: 1px;
    color: black;
}

.part.flexbox {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.part.flexbox .left {
    width: 50%;
    height: 70vh;
    margin: auto;
}

.part.flexbox .right {
    width: 50%;
    height: 70vh;
    margin: auto;
}

.profile {
    width: 35%;
    height: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    clip-path: circle(50%);
}

.contact {
    width: 70%;
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-collapse: separate;
    border-spacing: 20px;
}

.contact img {
    width: 40%;
    height: 40%;
}

.con-icon {
    display: table-cell;
}

.quote {
    text-align: center;
    font-size: 1.5vmin;
    line-height: 150%;
    margin-top: 50px;
}